<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/BIMT/static/index.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/896bfcf3be.js" crossorigin="anonymous"></script>
    <title>College</title>
    <style>
        .br{
            background: rgba(217, 180, 255, 0.76);
        }
        p{
            border-radius: 5%;
        }
    </style>
</head>

<body style="background-image: url(/BIMT/static/bg2.jpg); background-size: cover;">
    <div style="display: grid; justify-items: center;">
<img src="/BIMT/static/d1.jpg" alt="" style="margin-top: 15px; border-radius: 15%;">
</div>                                                                                                               
<div class="dir my-4">
    <h4 style="font-size: 40px;">EXECUTIVE DIRECTOR <span class="text-light">MESSAGE</span></h4>
</div>    
<hr class="w-50 m-auto mb-3" style="height: 3px;">
<div class="container" style="font-size: 25px; font-family: 'Merriweather', serif;">
<p class="br">Somewhere, something incredible is waiting to be known.” -Carl Sagan <br> I came across this amazing quote quite suddenly when I was looking for some information in the
internet and realized how relevant it is for all of us: children, parents and teachers. There is never any point in
the life of a person when he can sit back and say. “There is nothing more to learn, I can relax with the
comforting thought that the universe around me is an open book. I know it all.”</p>

<p class="br">Education is not just about the subjects that are learnt and taught in school. Becoming educated is
not restricted to being in school and then in college, gathering certificates and feeling proud of oneself. The
thirst for knowledge is not restricted to the child. It is also essential for a parent and a teacher to keep adding
to their own knowledge bank by keeping their eyes and ears open and by reading as much as possible and
ensuring that children develop these habits as well. Creativity and imagination make children grow up to be
productive adults who then arrive as citizens of the world ready to make their own great contribution to
mankind.</p>

<p class="br">“Imagination is more important than knowledge. For knowledge is limited to all we now know and
understand, while imagination embraces the entire world, and all there ever will be to know and understand.
“ – Albert Einstein
My message to the Principals, Staff, Students and esteemed Parents of BIMT College is to dedicate
this year to a correct understanding of what education really means and let us all benefit from this understanding.</p>
</div>
<div style="float: right; margin-right:50px; margin-bottom: 10px; color: rgba(255, 0, 0, 0.835);">
    <h2 class="text-primary">Akshaj Rastogi</h2>
    <h2>Executive Director</h2>
</div>

 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>