<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/index.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/896bfcf3be.js" crossorigin="anonymous"></script>
    <title>College</title>
</head>

<body style="background-image: url(static/bg2.jpg); background-size: cover;">
<img src="static/vs.jpg" alt="" style="width: 100%; margin-top: 15px;">
<div class="dir my-4" >
    <h4 style="font-size: 40px;"><i class="fas fa-flag-checkered" style="color: white;"></i> THINK GLOBAL <span class="text-light">ACT LOCAL</span></h4>
</div>    
<hr class="w-50 m-auto" style="height: 3px;">
<div class="container" style="font-size: 25px; font-family: 'Merriweather', serif; color: white; ">
    As the name suggests, the Badaun Institute of Management & Technology, utilizes global knowledge
for local solutions. BIMT prepares students to make the most out of an increasingly connected world.
This is achieved by BIMT’s effective network, our curriculum emphasizing global knowledge, and our
background in local and cross-cultural communication.
</div>

<div class="dir my-4" >
    <h4 style="font-size: 40px;"><i class="fas fa-users" style="color: white;"></i> MULTIPLE MODES <span class="text-light">OF LEARNING</span></h4>
</div>    
<hr class="w-50 m-auto" style="height: 3px;">
<div class="container" style="font-size: 25px; font-family: 'Merriweather', serif; color: white;">
    Every human is different. While BIMT utilizes time-tested pedagogical methods, We allow students to
    learn in the way that is most effective for them through innovative learning techniques. This is why
    BIMT applies the multiples intelligences approach.
</div>

<div class="dir my-4" >
    <h4 style="font-size: 40px;"><i class="fas fa-brain" style="color: wheat;"></i> HARD & SOFT  <span class="text-light">SKILLS COMBINED</span></h4>
</div>    
<hr class="w-50 m-auto" style="height: 3px;">
<div class="container" style="font-size: 25px; margin-bottom: 10px; font-family: 'Merriweather', serif; color: white;">
    BIMT Provides students with the information and pragmatic skills necessary to access opportunities.
    But we place equal importance on training students to think critically, work creatively and act justly.
    These educational qualities will help students succeed in their future employment BIMT’s highest hope
    is that our curriculum will help students to think boldly and wisely in order to make a difference in
    their local community.
</div>



<div style="background-color: #393737; color: white; text-align: center; font-size: 25px; margin-bottom: 5px;">
    Copyright © 2020-2021 BIMT.COM
  </div>

 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
</body>

</html>
